<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <appender name="CONSOLE-COLOR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{ISO8601} [%thread] %highlight(%-5level) %boldMagenta(%logger) :: %cyan(%msg) %n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{ISO8601} [%thread] %highlight(%-5level) %logger :: %msg %n</pattern>
        </encoder>
    </appender>

    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
        <logger name="dev.jlynx.magicaldrones" level="TRACE" additivity="false">
            <appender-ref ref="CONSOLE-COLOR" />
        </logger>
        <logger name="org.springframework.security" level="TRACE"/>
    </springProfile>

    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
        <logger name="dev.jlynx.magicaldrones" level="TRACE" additivity="false">
            <appender-ref ref="CONSOLE-COLOR" />
        </logger>
    </springProfile>

</configuration>
